/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root {
    --bg: #0f172a;
    --primary: #1e293b;
    --accent: #38bdf8;
    --accent2: #22c55e;
    --text: #f1f5f9;
    --card: #1e293b;
}

body {
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}
address{
    font-style: normal;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: linear-gradient(135deg, var(--accent), var(--accent2));
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;

    transition: all 0.3s ease;

    position: relative;
    overflow: hidden;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(15,23,42,0.8);
    backdrop-filter: blur(10px);
    padding: 15px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

/* MENU */
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
}

nav a:hover {
    color: var(--accent);
}

/* BOTÃO CONTATO */
.btn-contato {
    background: linear-gradient(90deg, var(--accent), var(--accent2));
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.btn-contato:hover{
    transform: scale(1.1);
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    background: url('../img/bg-cruzeiro.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(15,23,42,0.7);
}

.hero-content {
    position: relative;
    max-width: 600px;
}

.hero h1 {
    font-size: 42px;
}

.hero span {
    color: var(--text);
}

.hero strong {
    color: var(--accent);
}

/* LINHA */
.linha {
    width: 120px;
    height: 4px;
    background: var(--accent);
    margin: 15px 0;
}

/* LISTA */
.beneficios li {
    margin-bottom: 10px;
}

/* BOTÕES */
.btn {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn a {
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
}

.btn-light {
    background: white;
    color: black;
    transition: 0.5s;
    border: 2px solid var(--accent);
}

.btn-green {     
    background: var(--accent2);
    color: white;
    transition: 0.5s;
}

.btn-light:hover{   
    transform: translateY(-5px);
}

.btn-green:hover{
     border: 2px solid #fff;
    transform: translateY(-5px);
}

/* SECTIONS */
.estacionamento,
.localizacao,
.avaliacoes,
.contato {
    padding: 80px 20px;
    text-align: center;
}

/* TITULO */
.titulo {
    font-size: 28px;
    margin-bottom: 30px;
}

.titulo span {
    color: var(--accent);
}

/* STEPS */
.steps {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.step {
    background: var(--card);
    border: 1px solid var(--accent2);
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.step:hover{
    transform: translateY(-5px);
    border-color: var(--accent);
    box-shadow: 0 12px 25px rgba(56,189,248,0.3);
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:15px;
}


/* FORM */
.campo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.campo input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.campo input[type="date"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid transparent;

    background: var(--card);
    color: white;
    font-size: 14px;

    outline: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;

    transition: 0.3s;
}

/* hover */
.campo input[type="date"]:hover {
    border: 2px solid var(--accent);
}

/* foco */
.campo input[type="date"]:focus {
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px rgba(0, 255, 180, 0.3);
}


.select-box {
    position: relative;
}

.select-box .arrow {
    position: absolute;
    right: 15px;
    top: 38px;

    pointer-events: none;
    color: var(--accent);
    font-size: 14px;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.resultado-preco {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.resultado-preco strong {
    color: var(--accent);
}

.campo select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid transparent;

    background: var(--card);
    color: white;
    font-size: 14px;

    outline: none;
    cursor: pointer;

    /* remove estilo padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    transition: 0.3s;
}

.select-box {
    position: relative;
}

.select-box .arrow-select {
    position: absolute;
    right: 15px;
    top: 38px;
    margin-top:20px;
    pointer-events: none;
    color: var(--accent);
    font-size: 12px;
}

/* hover */
.campo select:hover {
    border: 2px solid var(--accent);
}

/* foco */
.campo select:focus {
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px rgba(0, 255, 180, 0.3);
}

/* LOCAL */
.box-localizacao {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* CARD INFO */
.info {
    background: var(--card);
    padding: 25px;
    border-radius: 16px;
    text-align: left;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    transition: 0.3s;
}

/* MAPA */
.mapa iframe {
    width: 100%;
    max-width: 500px;
    height: 320px;
    border-radius: 16px;
    border: none;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.card-destaque {
    background: linear-gradient(135deg, var(--accent), #00c3ff);
    padding: 25px;
    border-radius: 16px;
    max-width: 280px;

    color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    transition: 0.3s;
}

/* HOVERS
.info:hover,
.mapa iframe:hover,
.card-destaque:hover {
    /* transform: translateY(-8px) scale(1.02); 
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
} */

.mapa iframe {
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 12px;
    border: none;
}

/* AVALIAÇÕES */
.cards-avaliacoes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

.stars {
    color: gold;
}

/* BENEFICIOS */
.beneficios-reserva {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px; /* espaço entre cards */
    margin-top: 40px; /* espaço da seção */
}


.beneficios-reserva div {
   display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    background: var(--card);
    padding: 15px 25px;
    border-radius: 12px;
    border: 1px solid var(--accent2);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
    font-weight: 500;
}

/* hover bonito */
.beneficios-reserva div:hover {
    transform: translateY(-5px);
    border-color: var(--accent);
    box-shadow: 0 12px 25px rgba(56,189,248,0.3);
}

/* CONTATO */
.container-contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.info-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background: var(--card);
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    overflow: hidden;

    transition: 0.3s ease;
}

/* (traço lateral) */
.box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(var(--accent), var(--accent2));
    opacity: 0;
    transition: 0.3s;
}

/* ✨ HOVER */
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box:hover::before {
    opacity: 1;
}
.formulario {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* FORM */
.formulario-contato {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;

    position: relative;
    overflow: hidden;

    backdrop-filter: blur(10px);

    transition: 0.3s;
}


.formulario-contato::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, var(--accent), var(--accent2));
}


.formulario-contato:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.grupo input,
.grupo textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    color: white;
    outline: none;
    transition: 0.3s;
    margin-bottom: 10px;
}

/* foco bonito */
.grupo input:focus,
.grupo textarea:focus {
    border-bottom: 2px solid var(--accent);
}

button {
    background: linear-gradient(90deg, var(--accent), var(--accent2));
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    transition: 0.3s;
}


/* hover */
button:hover {
     transform: scale(1.1);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding: 30px;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 80px;
        right: 0;
        background: #1e293b;
        width: 200px;
        flex-direction: column;
        display: none;
        padding: 20px;
        border-radius: 10px;
    }

    nav ul.active {
        display: flex;
    }
}


.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    font-size: 28px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 1000;
}

.whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}

/* FOOTER */
.footer {
    background: #020617;
    padding-top: 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer a {
    color: #ccc;
}

.footer a:hover {
    color: var(--accent);
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding: 15px;
}


@media (max-width: 768px) {   

    .hero-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .beneficios{
        margin-left: 30px;
    }

    .linha {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        align-self: flex-start;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .footer-logo,
    .footer-links,
    .footer-contato {
        width: 100%;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .hero h1 {
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

    .steps {
        flex-direction: column;
    }

    .box-localizacao {
        flex-direction: column;
        align-items: center;
    }

    .container-contato {
        flex-direction: column;
        align-items: center;
    }

    .formulario-contato {
        width: 100%;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 900px) {

    .footer-container {
        justify-content: center;
        text-align: center;
    }

    .footer-logo,
    .footer-links,
    .footer-contato {
        max-width: 300px;
    }

}